<html>
<body>

    <!-- home section starts  -->

    <section class="home" id="home">

        <div class="content">
            <h3>Ateş Seni Çagırıyor!</h3>
            <p>
              HamburgerShop, lezzetli ve yaratıcı hamburgerleriyle öne çıkar. Müşterilerine, yerel ve organik malzemeler kullanarak hazırladıkları, gerçek et yerine yapay malzemeler içermeyen, gerçek lezzetler sunarlar. İşletmelerinde, hamburgerlerin yanı taze soslar ve içecekler sunar. HamburgerShop, ayrıca çevre dostu bir yaklaşım benimseyen bir şirket olarak, geri dönüştürülmüş malzemeler kullanır ve atıklarını azaltmaya çalışır. Ayrıca müşterilerine özel bir hizmet sunarlar, özel siparişler ve evde yemeğe hazır paketleri de mevcut. HamburgerShop, lezzetli ve sağlıklı yiyecekleriyle ve çevre dostu bir anlayışı olan bir marka olarak tanınır.
            </p>
            <a asp-action="Index" asp-controller="Siparis" class="btn" >Sipariş Ver</a>
        </div>

        <div class="image">
            <img src="~/images/home-img.png" alt="">
        </div>

    </section>

    <!-- home section ends -->
    <!-- speciality section starts  -->

    <section class="speciality" id="speciality">
        <h1 class="heading"> Bizim <span>Spesiyallerimiz</span> </h1>
        <div class="box-container">
            <div class="box">
                <img class="image" src="~/images/kingbeefburger.jpg" alt="">
                <div class="content">
                    <img src="~/images/s-1.png" alt="">
                    <h3>King Beef Burger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="~/images/kingbeefburger.jpg" alt="">
                <div class="content">
                    <img src="~/images/s-1.png" alt="">
                    <h3>King Beef Burger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="~/images/kingbeefburger.jpg" alt="">
                <div class="content">
                    <img src="~/images/s-1.png" alt="">
                    <h3>King Beef Burger</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div>
            <div class="box">
                <img class="image" src="~/images/icecekler.jpg" alt="">
                <div class="content">
                    <img src="~/images/s-4.png" alt="">
                    <h3>Soğuk İçecekler</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore neque amet ipsa tenetur voluptates aperiam tempore libero labore aut.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- speciality section ends -->
    <!-- steps section starts  -->

    <div class="step-container">

        <h1 class="heading">Nasıl <span>Çalışırız</span></h1>

        <section class="steps">
            <div class="box">
                <img src="~/images/step-1.jpg" alt="">
                <h3>choose your favorite food</h3>
            </div>
            <div class="box">
                <img src="~/images/step-2.jpg" alt="">
                <h3>free and fast delivery</h3>
            </div>
            <div class="box">
                <img src="~/images/step-3.jpg" alt="">
                <h3>easy payments methods</h3>
            </div>
            <div class="box">
                <img src="~/images/step-4.jpg" alt="">
                <h3>and finally, enjoy your food</h3>
            </div>
        </section>

    </div>

    <!-- steps section ends  -->
    <!-- review section starts  -->

    <section class="review" id="review">
        <h1 class="heading"> Müşteri <span>yorumlar</span> </h1>
        <div class="box-container">
            <div class="box">
                <img src="~/images/pic1.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus, ducimus facere quod ratione vel laboriosam? Est, maxime rem. Itaque.</p>
            </div>
            <div class="box">
                <img src="~/images/pic2.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus, ducimus facere quod ratione vel laboriosam? Est, maxime rem. Itaque.</p>
            </div>
            <div class="box">
                <img src="~/images/pic3.png" alt="">
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti delectus, ducimus facere quod ratione vel laboriosam? Est, maxime rem. Itaque.</p>
            </div>
        </div>
    </section>

    <!-- review section ends  -->

</body>
</html>

